{% block content %}
<div style="background-color: #FFFFFF; padding: 20px; border: 2px solid #0047AB; border-radius: 10px; max-width: 800px; margin: 0 auto;">
    <form action="{% url 'ReceiptHub:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'ReceiptHub:upload' %}" style="color: #0047AB; text-decoration: none; margin-bottom: 20px;">Upload a receipt</a><br> 
    <h2 style="color: #0047AB; margin-bottom: 20px;">Uploaded receipts:</h2>
    {% if receipt_list %}
        <table style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
            <thead>
                <tr style="background-color: #0047AB; color: #FFFFFF;">
                    <th style="border: 1px solid #0047AB; padding: 8px; text-align: left;">Filename</th>
                    <th style="border: 1px solid #0047AB; padding: 8px; text-align: left;">Upload date</th>
                    <th style="border: 1px solid #0047AB; padding: 8px; text-align: left;">Total amount</th>
                    <th style="border: 1px solid #0047AB; padding: 8px; text-align: left;">Unique ID</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipt_list %}
                    <tr style="border: 1px solid #dddddd;">
                        <td style="border: 1px solid #dddddd; padding: 8px;"><a href="{% url 'ReceiptHub:receipt' receipt.file_uuid %}" style="color: #0047AB; text-decoration: none;">{{ receipt.file_displayname }}</a></td>
                        <td style="border: 1px solid #dddddd; padding: 8px;">{{ receipt.upload_date }}</td>
                        <td style="border: 1px solid #dddddd; padding: 8px;">€{{ receipt.total_amount }}</td>
                        <td style="border: 1px solid #dddddd; padding: 8px;">{{ receipt.file_uuid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No uploaded files are available.</p>
        {% endif %}
    </div>
{% endblock %}
