{% load static %}

<a href="{% url 'ReceiptHub:upload' %}">Upload a receipt</a><br>
<h2>Uploaded receipts:</h2>
{% if receipt_list %}
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd; background-color: #f2f2f2; padding: 8px; text-align: left;">Filename</th>
                <th style="border: 1px solid #dddddd; background-color: #f2f2f2; padding: 8px; text-align: left;">Upload date</th>
                <th style="border: 1px solid #dddddd; background-color: #f2f2f2; padding: 8px; text-align: left;">Total amount</th>
                <th style="border: 1px solid #dddddd; background-color: #f2f2f2; padding: 8px; text-align: left;">Unique ID</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
                <tr>
                    <td style="border: 1px solid #dddddd; padding: 8px;"><a href="{% url 'ReceiptHub:receipt' receipt.file_uuid %}">{{ receipt.file_displayname }}</a></td>
                    <td style="border: 1px solid #dddddd; padding: 8px;">{{ receipt.upload_date }}</td>
                    <td style="border: 1px solid #dddddd; padding: 8px;">€{{ receipt.total_amount }}</td>
                    <td style="border: 1px solid #dddddd; padding: 8px;">{{ receipt.file_uuid }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No uploaded files are available.</p>
{% endif %}